<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAak5d6b_BwBBaBI0vBICHXzXLA7VOcoEE</string>
	<key>GCM_SENDER_ID</key>
	<string>630506289573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dhe</string>
	<key>PROJECT_ID</key>
	<string>atttendaceml</string>
	<key>STORAGE_BUCKET</key>
	<string>atttendaceml.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630506289573:ios:d986bd25db0dc23f14d04c</string>
	<key>DATABASE_URL</key>
	<string>https://atttendaceml-default-rtdb.firebaseio.com</string>
</dict>
</plist>